@import './variables';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap';

.navbar {
  border-width: 0;
  border-bottom-width: 1px;
}

body {
  padding-top: $navbar-height + $navbar-margin-bottom;
}

.container-fluid {
  max-width: 1000px;
}

.form-group {
  .btn-group label.btn {
    .has-success & {
      border-color: $state-success-text;
    }
    .has-error & {
      border-color: $state-danger-text;
    }
  }
}

.form-group-lg {
  .checkbox {
    $size: $font-size-large * $line-height-base;
    $gap: 8px;

    height: $input-height-large;

    label {
      padding-left: $size + $gap;
    }

    input {
      margin-left: -($size + $gap);
      width: $size;
      height: $size;
    }
  }
}

.crossword-form {
  .submission .btn {
    margin-left: 10px;
  }
}

.crossword-grid {
  .crossword-grid-row {
    @include clearfix;

    .crossword-grid-cell {
      width: 40px;
      height: 40px;
      float: left;
      border: 1px solid black;
      overflow: hidden;
      text-align: center;
      line-height: 40px;
      font-size: 28px;
      font-weight: bold;

      & + .crossword-grid-cell {
        border-left: 0;
      }

      &.empty {
        background: black;
      }
    }


    & + .crossword-grid-row {
      .crossword-grid-cell {
        border-top: 0;
      }
    }
  }
}